/target
.direnv


# Added by cargo
#
# already existing elements were commented out

#/target
server.log
eipi.db
assets/
web

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
